<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<h1> Students </h1>
<ul> <% @students.each do |student| %>
   <li> <%= link_to student.to_s, student_path(student) %> </li>
   <% end %> </ul>